[Desktop Entry]
Version=1.0
Categories=Utility;
TryExec=picom
Exec=sh -c "/usr/bin/picom -b --config $XDG_CONFIG_HOME/picom/picom.conf"
StartupNotify=false
Terminal=false
Name=picom
GenericName=X compositor
Comment=An X compositor
NoDisplay=false
Type=Application
Icon=picom
