//----------------------
// Configuration
//----------------------

configuration {
  modi:                 "window,run,drun";
  show-icons:           true;
  icon-theme:           "Papirus";
  drun-display-format:  "{name}";
  font: 			    "MesloLGS Nerd Font 12";
  display-run:          " ";
  display-drun:         " ";
  display-window:       " ";
}
@theme "themes/colorschemes/tokyonight"
@import "main"

/* vim:ft=css
